In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv', sep='|')
df.head()

,id,job_title,location,salary_currency,career_level,experience_level,education_level,employment_type,job_function,job_benefits,company_process_time,company_size,company_industry,job_description,salary
0,9634,CLINIC Operation Manager,Sumatera Utara,IDR,Manajer/Asisten Manajer,5 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",Penuh Waktu,"Layanan Kesehatan,Praktisi/Asisten Medis",NaN,NaN,1- 50 pekerja,Makanan & Minuman/Katering/Restoran,# must have good experiences in above field# e...,14000000.0
1,26646,Management Trainee,Aceh,IDR,Supervisor/Koordinator,1 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Penjualan / Pemasaran,Penjualan Ritel",Asuransi kesehatan;Bisnis (contoh: Kemeja),NaN,Lebih dari 5000 pekerja,Retail/Merchandise,Lowongan ini akan mengarahkan anda langsung ke...,NaN
2,23840,Creative Content Creator SEO,Semarang,IDR,Supervisor/Koordinator,2 tahun,Sarjana (S1),Penuh Waktu,"Penjualan / Pemasaran,Digital Marketing",Bisnis (contoh: Kemeja);-,28 days,201 - 500 pekerja,Manufaktur/Produksi,KemampuanDapat membuat konten kreatif untuk pr...,NaN
3,15321,Supervisor Sales General Trade,Surabaya,IDR,Supervisor/Koordinator,2 tahun,Sarjana (S1),Penuh Waktu,"Penjualan / Pemasaran,Penjualan Ritel",Tip;Asuransi kesehatan;Penglihatan;Waktu regul...,27 days,501 - 1000 pekerja,Produk Konsumen/Barang konsumen yang bergerak ...,Job DescriptionWorking with company target and...,NaN
4,13672,Compensation & Benefit (Payroll) SPV,Jakarta Barat,IDR,Supervisor/Koordinator,4 tahun,Sarjana (S1),Kontrak,"Sumber Daya Manusia/Personalia,Sumber Daya Man...",Asuransi kesehatan;Formil (contoh: Kemeja + Da...,19 days,51 - 200 pekerja,Automobil/Mesin Tambahan Automotif/Kendaraan,JOB DESCRIPTION· Manage external client...,NaN

In [3]:
print(f'size of the dataset: {df.shape}')
print(f'columns: {df.columns}\n\n')
print(f'number of missing values: \n{df.isnull().sum()}\n\n')

size of the dataset: (25396, 15)
columns: Index(['id', 'job_title', 'location', 'salary_currency', 'career_level',
       'experience_level', 'education_level', 'employment_type',
       'job_function', 'job_benefits', 'company_process_time', 'company_size',
       'company_industry', 'job_description', 'salary'],
      dtype='object')


number of missing values:
id                          0
job_title                   0
location                    0
salary_currency             3
career_level                0
experience_level         3402
education_level             0
employment_type          1051
job_function                0
job_benefits             5258
company_process_time     7246
company_size             4078
company_industry         1174
job_description             0
salary                  20315
dtype: int64

In [4]:
df.nunique()

id                      25396
job_title               15970
location                  194
salary_currency             2
career_level                6
experience_level           19
education_level            20
employment_type             9
job_function               68
job_benefits             2728
company_process_time       30
company_size                7
company_industry           58
job_description         21918
salary                    433
dtype: int64

In [5]:
df.dropna(subset=['salary'], inplace=True)
df.isna().sum()

id                         0
job_title                  0
location                   0
salary_currency            0
career_level               0
experience_level         413
education_level            0
employment_type            0
job_function               0
job_benefits            1195
company_process_time    1693
company_size             736
company_industry         156
job_description            0
salary                     0
dtype: int64

In [6]:
df['company_industry'].nunique()

56

In [7]:
df['company_industry'].unique()

array(['Makanan & Minuman/Katering/Restoran', 'Pertambangan',
       'Manajemen/Konsulting HR', 'Konstruksi/Bangunan/Teknik',
       'Asuransi', 'Periklanan/Marketing/Promosi/Hubungan Masyarakat',
       nan, 'Manufaktur/Produksi', 'Perbankan/Pelayanan Keuangan',
       'Komputer/Teknik Informatika (Perangkat Lunak)',
       'Automobil/Mesin Tambahan Automotif/Kendaraan',
       'Bahan Kimia/Pupuk/Pestisida', 'Umum & Grosir',
       'Konsultasi (IT, Ilmu Pengetahuan, Teknis & Teknikal)',
       'Komputer/Teknik Informatika (Perangkat Keras)', 'Kesehatan/Medis',
       'Lingkungan/Kesehatan/Keamanan', 'Retail/Merchandise',
       'Elektrikal & Elektronik', 'Minyak/Gas/Petroleum',
       'Konsultasi (Bisnis & Manajemen)', 'Perawatan/Kecantikan/Fitnes',
       'Lainnya', 'Hiburan/Media', 'Pendidikan', 'Seni/Desain/Fashion',
       'Industri Berat/Mesin/Peralatan',
       'Produk Konsumen/Barang konsumen yang bergerak cepat',
       'Agrikultural/Perkebunan/Peternakan Unggas/Perikanan',
       'Transportasi/Logistik', 'Pelayanan Arsitek/Desain Interior',
       'Tekstil/Garment', 'Telekomunikasi', 'Properti/Real Estate',
       'Pameran/Manajemen acara/PIKP', 'Akunting / Audit / Layanan Pajak',
       'Percetakan/Penerbitan', 'Pelayanan Perbaikan & Pemeliharaan',
       'Kayu/Fiber/Kertas', 'Pakaian', 'Hotel/Pariwisata',
       'BioTeknologi/Farmasi/Riset klinik', 'Travel/Pariwisata',
       'Polymer/Plastik/Karet/Ban',
       'Organisasi Nirlaba/Pelayanan Sosial/LSM', 'Hukum/Legal',
       'Pemerintahan/Pertahanan', 'Call Center/IT-Enabled Services/BPO',
       'Kelautan/Aquakultur', 'Keamanan/Penegak hukum',
       'Ilmu Pengetahuan & Teknologi', 'Permata/Perhiasan',
       'Jual Beli Saham/Sekuritas', 'R&D',
       'Layanan Umum/Tenaga Penggerak', 'Olahraga', 'Jurnalisme'],
      dtype=object)

In [8]:
df['salary_currency'].value_counts()

IDR    5079
USD       2
Name: salary_currency, dtype: int64

In [9]:
df[df['salary_currency'] == 'USD']

,id,job_title,location,salary_currency,career_level,experience_level,education_level,employment_type,job_function,job_benefits,company_process_time,company_size,company_industry,job_description,salary
13275,30896,Registered Nurse Aesthetic and Wellness,Bali,USD,Pegawai (non-manajemen & non-supervisor),2 tahun,Sarjana (S1),Penuh Waktu,"Layanan Kesehatan,Praktisi/Asisten Medis",Tip;Bisnis (contoh: Kemeja);Mon - Sat,NaN,1- 50 pekerja,Perawatan/Kecantikan/Fitnes,Registered Nurse Aesthetic and WellnessMaldive...,1005.0
20593,163,Digital and Social Media Executive (Travel & L...,Jakarta Pusat,USD,Pegawai (non-manajemen & non-supervisor),2 tahun,Sarjana (S1),Penuh Waktu,"Penjualan / Pemasaran,Digital Marketing","Waktu regular, Senin - Jumat",29 days,1- 50 pekerja,Periklanan/Marketing/Promosi/Hubungan Masyarakat,DIGITAL / SOCIAL MEDIA EXECUTIVEWe are recruit...,665.0

In [10]:
for i in df[df['salary_currency'] == 'USD'].index:
    df.at[i, 'salary'] = df.at[i, 'salary'] * 15000 

df['salary_currency'].replace('USD', 'IDR', inplace=True)
df['salary_currency'].value_counts()

IDR    5081
Name: salary_currency, dtype: int64

In [11]:
df['career_level'].value_counts()

Pegawai (non-manajemen & non-supervisor)             3142
Supervisor/Koordinator                                850
Manajer/Asisten Manajer                               643
Lulusan baru/Pengalaman kerja kurang dari 1 tahun     358
CEO/GM/Direktur/Manajer Senior                         88
Name: career_level, dtype: int64

In [12]:
df.columns

Index(['id', 'job_title', 'location', 'salary_currency', 'career_level',
       'experience_level', 'education_level', 'employment_type',
       'job_function', 'job_benefits', 'company_process_time', 'company_size',
       'company_industry', 'job_description', 'salary'],
      dtype='object')

In [13]:
columns_deleted = ['id', 'job_title', 'location', 'salary_currency', 'job_function', 'job_benefits', 'company_process_time', 'company_industry', 'job_description' ]
df.drop(columns=columns_deleted, inplace=True)

In [14]:

education_level_convert = {
    'Tidak terspesifikasi' : 1,
    'SMA, SMU/SMK/STM' : 2,
    'Sarjana (S1)' : 3,
    'SMA, SMU/SMK/STM, Sarjana (S1)' : 4,
    'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1)' : 5,
    'SMA, SMU/SMK/STM, Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1)' : 5,
    'Sertifikat Professional, D3 (Diploma), D4 (Diploma)' : 5,
    'SMA, SMU/SMK/STM, Sertifikat Professional, D3 (Diploma), D4 (Diploma)' : 5,
    'Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 6,
    'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 6,
    'Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 6,
    'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 6,
    'SMA, SMU/SMK/STM, Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 6,
    'Doktor (S3)' : 7,
    'Sarjana (S1), Doktor (S3)' : 7,
    'Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2), Doktor (S3)' : 8,
    'Diploma Pascasarjana, Gelar Professional, Magister (S2), Doktor (S3)' : 8,
    'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1), Doktor (S3)' : 8

}



employment_type_convert = {
    'Temporer' : 1,
    'Magang' : 2,
    'Penuh Waktu, Magang' : 2,
    'Paruh Waktu' : 3,
    'Penuh Waktu, Paruh Waktu' : 3,
    'kontrak' : 4,
    'Penuh Waktu, Kontrak' : 4,
    'Penuh Waktu' : 5
}

career_level_mapper = {
    'Lulusan baru/Pengalaman kerja kurang dari 1 tahun' : 1,
    'Pegawai (non-manajemen & non-supervisor)' : 2,
    'Supervisor/Koordinator' : 3,
    'Manajer/Asisten Manajer' : 4,
    'CEO/GM/Direktur/Manajer Senior' : 5
}

df['experience_level'] = df['experience_level'].str.extract(r'(\d+)\s+tahun')
df['company_size'].replace({'Lebih dari 5000 pekerja' : '7', '1- 50 pekerja' : '1', '51 - 200 pekerja' : '2', '201 - 500 pekerja'  : '3', '501 - 1000 pekerja': '4', '1001 - 2000 pekerja' : '5', '2001 - 5000 pekerja' : '6'}  , inplace=True)

df['education_level'] = df['education_level'].replace(education_level_convert)
df['employment_type'] = df['employment_type'].replace(employment_type_convert)

df['career_level'] = df['career_level'].map(career_level_mapper)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5081 entries, 0 to 25393
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   career_level      5081 non-null   int64
 1   experience_level  4668 non-null   object
 2   education_level   5081 non-null   int64
 3   employment_type   5081 non-null   object
 4   company_size      4345 non-null   object
 5   salary            5081 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 406.9+ KB

In [16]:
df.isna().sum()

career_level          0
experience_level    413
education_level       0
employment_type       0
company_size        736
salary                0
dtype: int64

In [17]:
df.fillna(df.mode, inplace=True)
df.isna().sum()

career_level        0
experience_level    0
education_level     0
employment_type     0
company_size        0
salary              0
dtype: int64

In [18]:
# df.to_csv('cleaned_data.csv', index=False)
# CRASH DI SINI

:

In [ ]:
df.corr()

                 education_level    salary
education_level         1.000000  0.045623
salary                  0.045623  1.000000

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [ ]:
df.isna().sum()

experience_level    0
education_level     0
employment_type     0
company_size        0
salary              0
dtype: int64

In [ ]:
# # split data
# X_train, X_test, y_train, y_test = train_test_split(df_selected.drop('salary', axis=1), df_selected['salary'], test_size=0.2, random_state=42)

# # linear regression
# lr = LinearRegression()
# lr.fit(X_train, y_train)
# y_pred = lr.predict(X_test)

# # random forest
# rf = RandomForestRegressor()
# rf.fit(X_train, y_train)
# y_pred_rf = rf.predict(X_test)

# print(f'linear regression mse: {mean_squared_error(y_test, y_pred)}')
# print(f'random forest mse: {mean_squared_error(y_test, y_pred_rf)}')

: